:root {
	--landing-width: 600px;
}

.welcome {
	width: var(--landing-width);
	margin: 10px auto;
	text-align: center;
}

.greeting {
	width: var(--landing-width);
	margin: 10px auto;
}

p {
	margin: 0 0 10px 0;
}

.answers {
	width: var(--landing-width);
	margin: 10px auto;
}

.answer {
	text-align: center;
	width: 66%;
}

a.answer {
	text-decoration: underline;
}

.answer:hover {
	color: black;
	text-shadow: none;
	background-image: linear-gradient(to top left, black -100%, var(--accent-color));
}
