:root {
    --box-opacity: 0.7;
    --fallback-color: lime;
    --main-color: rgba(128, 0, 128, 1.0);
    --main-color-trans: rgba(128, 0, 128, var(--box-opacity));
    --accent-color: #ffdf00;
    --accent-color-trans: rgba(255, 223, 0, var(--box-opacity));
    --shadow-color: black;
    --text-color: white;
}

@font-face {
	font-family: DragonOracle;
	src: url("/assets/fonts/DragonOracle.ttf");
}

::selection {
	color: black;
	background-color: var(--accent-color);
	text-shadow: none;
}

body {
	color: var(--text-color);
	background-color: black;
	font-family: DragonOracle, Verdana;
	font-size: 200%;
	transition: background-color 1s;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.lightning-flash {
	background-color: white;
	transition: background-color 0s;
}

@keyframes bg-scroll {
	from {
		background-position: 0 0;
	}

	to {
		background-position: calc(var(--bg-size) * var(--scr-x)) calc(var(--bg-size) * var(--scr-y));
	}
}

.flex {
	display: flex;
}

.background {
	background-image: url("/assets/textures/noiseTexture.png");
	background-size: var(--bg-size);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;

	animation: bg-scroll var(--scr-time) linear infinite;
}

.rain {
	image-rendering: pixelated;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}


h1 {
	display: block;
	font-weight: normal;
	text-shadow: 4px 4px var(--shadow-color);
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: 200px auto 200px;
	grid-template-areas:
		"nav   head    updated"
		"nav   content settings"
		"nav   content settings"
		"blank content blank2";
	gap: 10px;
	max-width: 1500px;
	margin: auto;
}

.welcome {
	grid-area: head;
	text-align: center;
}

.navbar.box {
	grid-row: 1 / -1;
	grid-area: nav;
	position: sticky;
	top: 10px;
}

.settings {
	grid-area: settings;
}

.content {
	grid-area: content;
}

.box {
	background-image: linear-gradient(to top left, rgba(0, 0, 0, var(--box-opacity)) -100%, var(--main-color-trans));

	padding: 8px 8px;

	color: var(--text-color);
	text-shadow: 0.0625em 0.0625em var(--shadow-color);

	border-color: var(--fallback-color);
	border-style: solid;
	border-image: url("/assets/textures/border.png") 9;
	border-width: 9px;
	border-radius: 6px;
	box-sizing: border-box;
}

.updated {
	grid-area: updated;
}

.updated .label {
	text-align: left;
}

.updated .date {
	text-align: right;
}

.navheader {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 5px;
}

.navlist {
	list-style: none;
	margin: 0 -10px;
	padding: 0;
}

.navlist li {
	margin: 0;
}

.navitem {
	padding: 0px 10px;
}

.navitem a {
	width: 100%;
	display: block;
}

.navitem:hover {
	color: black;
	text-shadow: none;
	background-image: linear-gradient(to top left, black -100%, var(--accent-color));
}

.navitem:hover a {
	color: black;
	text-shadow: none;
}

.navitem:hover .navicon {
	filter: brightness(0);
}

.navicon {
	width: 18px;
	image-rendering: pixelated;
	filter: drop-shadow(2px 2px var(--shadow-color));
	margin-right: 4px;
}
