<nav>
	<div>Navigation</div>
	<ul class="navlist">
		<li class="navitem">
			<a href="/home.html"><img class="navicon" src="assets/icons/home.png" alt="home">Home</a>
		</li>
		<li class="navitem">
			<a href="/blog.html"><img class="navicon" src="assets/icons/blog.png" alt="blog">Blog [NYI]</a>
		</li>
		<li class="navitem">
			<a href="/projects.html"> <img class="navicon" src="assets/icons/projects.png" alt="projects">Projects
				[NYI]</a>
		</li>
		<li class="navitem">
			<a href="/about-me.html"> <img class="navicon" src="assets/icons/about-me.png" alt="about">About Me
				[NYI]</a>
		</li>
	</ul>
</nav>